.container {
    left: 50%;
    margin: auto;
    margin-bottom: 20px;
}

paper-input {
    padding: 0 10px 0 10px;
}

paper-button {
    background-color: var(--google-blue-700);
    display: flex;
    margin-top: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
}