.card-content img {
    border: solid thin var(--paper-light-blue-50);
    height: 120px;
    width: 100%;
}

.storeName {
    color: var(--paper-blue-700);
    margin: 0;
}

paper-button {
    color: var(--paper-blue-700);
    font-weight: bold;
}