.card-content {
    overflow: auto;
    height: 150px;
    max-height: 150px;
    overflow-y: hidden;
}

.card-heading {
    color: white;
    height: 50px;
    background-color: var(--paper-blue-700);
    text-align: center;
}

.card-heading h2 {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.card-content img {
    border: solid thin black;
    height: 120px;
    width: 100%;
}

paper-button {
    color: var(--paper-blue-700);
    font-weight: bold;
}