<div menu-links linkGroup="StoreList" class="container">
    <div class="row">
        <app-filter-list *ngIf="!!filterJson" class="col-lg-3" [filterJson]="filterJson" (filterEvent)="onFilterChange($event)"></app-filter-list>
        <div [class]="!!filterJson ? 'col-lg-9' : 'col-lg-12'">
            <ng-container *ngIf="stores?.length;">
                <app-store-item *ngFor="let store of stores" [store]="store"></app-store-item>
            </ng-container>
            <div *ngIf="!stores?.length;" class="row text-center mtxl">
                <div [class]="!!filterJson ? 'col-lg-offset-3 col-lg-9' : 'col-lg-12'">
                    <h2>No stores added yet!</h2>
                    <span>Go to Add Store or click </span>
                    <a routerLink="/store/new">here</a>
                    <span> to add new store.</span>
                </div>
            </div>
        </div>
    </div>
</div>