.card-heading {
    color: var(--paper-blue-700);
    height: 50px;
    border-bottom: solid thin var(--paper-blue-700);
    text-align: center;
}

.card-heading h3 {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

paper-button.filter-reset {
    background-color: var(--paper-yellow-700);
    color: white;
    font-weight: bold;
    margin: 10px 0;
}

paper-button.filter {
    background-color: var(--paper-blue-700);
    color: white;
    font-weight: bold;
    margin: 10px 0;
}