<div menu-links linkGroup="StoreList" class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="flex-box">
                <div *ngFor="let item of items" class="flex-item">
                    <paper-card elevation="5">
                        <div class="card-heading">
                            <h3>{{item.name}}</h3>
                        </div>
                        <div class="card-content">
                            {{item | json}}
                        </div>
                        <div class="card-actions">
                            <paper-button (click)="getStore(item._id)" class="pull-right">Details</paper-button>
                        </div>
                    </paper-card>
                </div>
            </div>
        </div>
    </div>
</div>