<div menu-links linkGroup="StoreList" class="container">
    <ng-container *ngIf="stores?.length;">
        <div *ngFor="let store of stores">
            <div class="row mtl">
                <div class="col-lg-12">
                    <paper-card class="col-lg-12" elevation="5">
                        <div class="card-content">
                            <div class="row">
                                <div class="col-lg-2">
                                    <img [src]="store.images[0]" alt="">
                                </div>
                                <div class="col-lg-10">
                                    <div class="row mts">
                                        <div class="col-lg-12">
                                            <h3 class="storeName">{{store.name}}</h3>
                                        </div>
                                    </div>
                                    <div class="row mtm">
                                        <div class="col-lg-12">
                                            <span class="storeName">Contact : </span>
                                            <span>{{store.phone}}</span>
                                        </div>
                                    </div>
                                    <div class="row mts">
                                        <div class="col-lg-12">
                                            <span class="storeName">Address : </span>
                                            <span>{{getAddress(store.address)}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-actions">
                            <paper-button (click)="getStore(store._id)" class="pull-right">Details</paper-button>
                        </div>
                    </paper-card>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="!stores?.length;">
        <div class="row text-center mtxl">
            <div class="col-lg-12">
                <h2>No stores added yet!</h2>
                <span>Go to Add Store or click </span>
                <a routerLink="/store/new">here</a>
                <span> to add new store.</span>
            </div>
        </div>
    </ng-container>
</div>