<div menu-links linkGroup="StoreList" class="container">
    <div *ngFor="let item of items">
        <div class="row mtl">
            <div class="col-lg-12">
                <paper-card elevation="5">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-lg-2">
                                <img [src]="item.images[0]" alt="">
                            </div>
                            <div class="col-lg-10">
                                {{item | json}}
                            </div>
                        </div>
                    </div>
                    <div class="card-actions">
                        <paper-button (click)="getStore(item._id)" class="pull-right">Details</paper-button>
                    </div>
                </paper-card>
            </div>
        </div>
    </div>
</div>