<div menu-links [overrides]="links" menu-links linkGroup="GroceryDetails" class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-2">
                <paper-dialog id="dialog" #dialog class="col-lg-6" with-backdrop>
                    <h2 class="text-center">Form Errors</h2>
                    <ul *ngIf="errorMessages && errorMessages.length">
                        <li *ngFor="let message of errorMessages">
                            {{message}}
                        </li>
                    </ul>
                </paper-dialog>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <paper-input label="grocery name" [(ngModel)]="model.name" ngDefaultControl></paper-input>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <paper-input type="number" class="form-input" label="price" [(ngModel)]="model.price" ngDefaultControl>
                </paper-input>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <paper-input class="form-input" type="text" label="description" [(ngModel)]="model.description" ngDefaultControl>
                </paper-input>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <paper-button (click)="updateGrocery(dialog)" raised>Update Grocery</paper-button>
            </div>
        </div>
    </div>