<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <paper-input class="form-input" label="username" [(ngModel)]="model.username" ngDefaultControl>
        </paper-input>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <paper-input class="form-input" label="name" [(ngModel)]="model.name" ngDefaultControl></paper-input>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <paper-input class="form-input" label="email" [(ngModel)]="model.email" ngDefaultControl>
        </paper-input>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <paper-input class="form-input" label="user type" [(ngModel)]="model.type" ngDefaultControl></paper-input>
    </div>
</div>