<div menu-links linkGroup="NewStore" class="container mtxl">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-2">
            <paper-dialog id="dialog" #dialog class="col-lg-6" with-backdrop>
                <h2 class="text-center">Form Errors</h2>
                <ul *ngIf="errorMessages && errorMessages.length">
                    <li *ngFor="let message of errorMessages">
                        {{message}}
                    </li>
                </ul>
            </paper-dialog>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <paper-input label="store name" [(ngModel)]="model.name" ngDefaultControl>
            </paper-input>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <paper-input class="form-input" label="address1" [(ngModel)]="model.address.address1" ngDefaultControl>
            </paper-input>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <paper-input class="form-input" label="address2" [(ngModel)]="model.address.address2" ngDefaultControl>
            </paper-input>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-lg-offset-3">
            <paper-input class="form-input" label="city" [(ngModel)]="model.address.city" ngDefaultControl></paper-input>
        </div>
        <div class="col-lg-2">
            <paper-input class="form-input" label="state" [(ngModel)]="model.address.state" ngDefaultControl></paper-input>
        </div>
        <div class="col-lg-2">
            <paper-input class="form-input" label="country" [(ngModel)]="model.address.country" ngDefaultControl></paper-input>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <paper-input class="form-input" label="contact number" [(ngModel)]="model.phone" ngDefaultControl></paper-input>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <paper-input class="form-input" label="description" [(ngModel)]="model.description" ngDefaultControl></paper-input>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <paper-button (click)="createStore(dialog)" raised>Add Store</paper-button>
        </div>
    </div>
</div>