<paper-toast [opened]="!!toastModel.text" duration="0">
    <span [class]="toastModel.type" class="toast-text">{{toastModel.text}}</span>
    <a (click)="hideToast()" class="toast-close">
        <strong>close</strong>
    </a>
</paper-toast>

<paper-toolbar>
    <paper-icon-button slot="top" icon="menu" onclick="menu.toggle()"></paper-icon-button>
    <div slot="top">
        <paper-button>
            <h3 class="title" (click)="redirect(menu, 'home')">My Grocery Boy</h3>
        </paper-button>
    </div>
    <div class="route-links" slot="top">
        <ng-container *ngFor="let link of links">
            <paper-button>
                <a class="router-link" [routerLink]="link.path">{{link.label}}</a>
            </paper-button>
        </ng-container>
    </div>
    <paper-icon-button class="pull-right" slot="top" icon="menu" onclick="menu.toggle()"></paper-icon-button>
    <paper-progress slot="bottom" class="fit" [disabled]="!isActive" indeterminate></paper-progress>
</paper-toolbar>

<app-drawer-layout>
    <app-drawer id="menu" #menu swipe-open class="text-center">
        <paper-card>
            <div class="card-content">
                <img src="https://avatars6.githubusercontent.com/u/6076850?v=4&s=460" alt="image">
                <h3>Manoj Chalode</h3>
            </div>
            <div class="card-actions">
                <paper-button class="profile" (click)="redirect(menu, 'user-info')">Update Profile</paper-button>
            </div>
        </paper-card>
        <paper-button class="menu-item" (click)="redirect(menu, 'home')">Home</paper-button>
        <paper-button class="menu-item" (click)="redirect(menu, 'store')">My Store</paper-button>
        <paper-button class="menu-item" (click)="redirect(menu, 'login')">Login</paper-button>
        <paper-button class="menu-item" (click)="redirect(menu, 'register')">Register</paper-button>
        <paper-button class="menu-item" (click)="redirect(menu, 'about-us')">About Us</paper-button>
        <paper-button class="menu-item" (click)="redirect(menu, 'contact-us')">Contact Us</paper-button>
    </app-drawer>
</app-drawer-layout>
<div style="margin-top:60px;">
    <router-outlet></router-outlet>
</div>