paper-toolbar span.title {
    margin-left: 0;
}

paper-card {
    background: var(--paper-grey-300);
}

paper-card img {
    width: 70%;
    border: thin solid var(--paper-blue-700);
    border-radius: 100px;
    margin: auto;
}

paper-button.profile {
    background-color: var(--paper-blue-500);
    border-radius: 5px; 
    color: white;
    margin-bottom: 5px;
}

paper-button.menu-item {
    background-color: var(--paper-blue-500);
    border-radius: 5px; 
    color: white;
    margin-bottom: 5px;
}

app-drawer {
    z-index: 1;
}

paper-button.menu-item {
    border: white thin solid;
    display: flex;
    margin: 0;
    padding: 10px;
    background-color: var(--paper-grey-300);
    color: black;
}

.toast-close {
    text-transform: none;
    color: var(--paper-lime-a200);
    float: right;
    padding: 0;
}