paper-card {
    background-color: var(--paper-blue-50);
}

h3 {
    color: var(--paper-blue-700);
    text-align: center;
    margin: 0;
}

paper-button {
    color: white;
    font-weight: bold;
    margin: 10px 0;
}

paper-button.filter-reset {
    background-color: var(--paper-orange-700);
}

paper-button.filter {
    background-color: var(--paper-blue-700);
}

paper-checkbox, paper-radio-group, paper-radio-button {
    padding-left: 0;
}